﻿@model List<MVCWebAPIClient1212502.Models.Users>
<table class="table">
    <thead>Danh sach</thead>
    <tr class="titletable">
        <td>username</td>
        <td>Ho va Ten</td>
    </tr>
    @for (int i = 0; i < Model.Count; i++ )
    {
        <tr>
        <td>@Model[i].Username</td>
        <td>@Model[i].Hovaten</td>
    </tr>
    }
</table>
