﻿@model MVCWebAPIClient1212502.Models.Users
<table class="table">
    <thead>Danh sach</thead>
    <tr class="titletable">
        <td>username</td>
        <td>Ho va Ten</td>
    </tr>
    <tr>
        <td>@Model.Username</td>
        <td>@Model.Hovaten</td>
    </tr>
</table>
