﻿
@{
    ViewBag.Title = "Index";
}
<script type="text/javascript">
    $(function () {
        $('.getusers').submit(function () {
            $.ajax({
                url: "@Url.Action("GetUsers", "Home")",
                type: "GET",
                data: { value: $('#value').val() },
                success : function(data)
                {
                    $('.result').html(data);
                }
            });
            return false;
        });
    });
    function getall()
    {
        $.ajax({
            url: "@Url.Action("GetAllUsers", "Home")",
            type: "GET",
            success : function(data)
            {
                $('.result').html(data);
            }
    });
    }

</script>
<h2>Index</h2>
<div class="row">
    <form class="getusers">
        <input type="text" name="value" id="value" />
        <input type="submit" value="GetValue" />
    </form>
    <a href="javascript:;" onclick="getall();">Get ALL Users</a>
</div>
<div class="row result">

</div>
