﻿@model MVCWebAPIClient1212502.Models.Users
@{
    ViewBag.Title = "ThaotacUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Thao tác</h2>
<div class="row">
    <form method="post">
        <table class="tableform">
            <tr>
                <td>
                   Username : @Html.TextBoxFor(m => m.Username, new { required = "required" })
                </td>
                <td>
                   Họ và Tên : @Html.TextBoxFor(m => m.Hovaten)
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Thêm mới" onclick="javascript: form.action='@Url.Action("Themmoi", "Home")';" />
                </td>
                <td>
                    <input type="submit" value="Sửa" onclick="javascript: form.action='@Url.Action("Update", "Home")';" />
                </td>
                <td>
                    <input type="submit" value="Xóa" onclick="javascript: form.action='@Url.Action("Delete", "Home")';" />
                </td>
            </tr>
        </table>
    </form>
</div>
<div class="row">
    <h3>@ViewBag.notifi</h3>
</div>

