﻿@model List<MVCWebAPIClient1212502.Models.Product>
<table class="table">
    <thead>Danh sach</thead>
    <tr class="titletable">
        <td>Tên sản phẩm</td>
        <td>Category</td>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td>@Model[i].NameProduct</td>
            <td>@Model[i].Category</td>
        </tr>
    }
</table>

