﻿
@{
    ViewBag.Title = "Timkiemsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        $('.search').submit(function () {      
            $.ajax({
                url: "@Url.Action("Timkiemproduct", "Home")",
                type: "GET",
                data: { cate: $('#cate').val(), use: $('#usename').val() },
                success : function(data)
                {
                    $('.result').html(data);
                }
            });
            return false;
        });
    });
</script>
<h2>Tìm kiếm sản phẩm</h2>
<div class="row">
    <form class="search">
        <table class="tableform">
            <tr>
                <td>
                    Category :<input type="text" id="cate" required />
                </td>
                <td>
                    Username : <input type="text" id="usename" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Tìm kiếm" />
                </td>
                <td></td>
            </tr>
        </table>
    </form>
</div>
<div class="row result">

</div>
